<h2>ADD A NEW CELEBRITY</h2>

<form action="/celebrities/new" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name" id="name">
    <label for="Occupation">Occupation</label>
    <input type="text" name="ocupation" placeholder="Occupation" id="Occupation">
    <label for="Catch-Phrase">Catch Phrase</label>
    <input type="text" name="catchPhrase" placeholder="Catch-phrase">

    <button type="submit">Create!</button>


</form>