<h3>{{celebrity.name}}</h3>
<h4>Occupation: {{celebrity.ocupation}}</h4>
<h4>Catch Phrase:{{celebrity.catchPhrase}}</h4>

<a href="/celebrities/new">Add a new celebrity</a>
<a href="/celebrities">BACK TO CELEBRITY LIST</a>